/* GLOBALES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --section-background-programas: white;
    --section-background-carrusel:radial-gradient(#d6aefb,#d9d9d9);
    --section-background:linear-gradient(#fdfffc,#b79ced);
    --Titulos: "AlfaSlabOne";
}
body{
    padding: 0;
}
header{
    background-color: #d9d9d9; 
    padding: 30px;
}

main{
    border: 20;
}

hr{
    height: 5px;
    background-color: black;
}

h1{
    font-family:var(--Titulos);
    text-align: center;
    font-size: 40px;
}

h2{
    font-family:var(--Titulos);
    text-align: center;
    font-size: 35px;
}

dt{
    font-weight: 800;

}

tr{ /* Filas pares */
    background-color: #e7c6ff;
}

ul,ol,dl{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

h3{
    font-family:var(--Titulos);
    text-align: center;
    font-size: 28px;
}


caption{
    font-size: 20px;
}

th{
    color: #3f0469;
    font-size: large;
    font-weight: 800;
}
h5{
    font-family:"AlfaSlabOne";
    text-align:left;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    gap: 80px; /* Espacio entre elementos */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
form{
    border: 0;
    width: 50%; /* Ajusta el ancho del formulario */
    max-width: 400px; /* Máximo tamaño */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-10%, -10%); 
    font-weight: bold;
    background-color: #e7c6ff;
    text-align: center;
    padding: 5px;
    margin: auto;
}

iframe {
    display: block; /* Necesario para que `margin: auto;` funcione */
    margin: auto; /* Centra horizontalmente */
    width: 80%; /* Ajusta el ancho según necesites */
    height: 500px; /* Ajusta la altura */
}

table {
    width: 80%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse; /* Une los bordes de las celdas */
    margin: 20px auto; /* Centra la tabla */
    background-color: #f9f9f9; /* Color de fondo */
    text-align: center; /* Centra el texto */
}

th, td {
    border: 4px solid rgb(47, 13, 58); /* Aumenta el grosor del borde */
    padding: 10px; /* Espaciado interno */
    font-weight: bold; /* Si quieres que el texto resalte */
}

  /* GENERALES */

.alfa-slab-one-regular{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }


.alfa-slab-one-regular1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }

.fondo{
    width: 1325px; /* Ancho fijo */
    height: 300px; /* Alto fijo */
    justify-content: center;
}
.frase {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -5%); /* Ajusta la posición exacta */
    color: rgb(73, 10, 92); 
    font-size: 30px; /* Tamaño del texto */
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  .frase1{
    position: absolute;  /* Posiciona el texto de forma absoluta */
    top: 50%; /* Lo mueve al 50% desde arriba */
    left: 50%; /* Lo mueve al 50% desde la izquierda */
    transform: translate(-50%, 70%); /* Lo centra y lo baja un poco más */
    color: rgb(70, 70, 70);/* Texto en gris oscuro */
    font-size: 30px; /* Tamaño de letra */
    font-weight: bold;/* Negrita */
    text-align: center;
    padding: 10px;                  
    border-radius: 5px;            
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes */
    justify-content: center;
  }
  
  .galeria2{
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes */
    justify-content: center;
    
  }
  .galeria img{
    width: 380px; /* Ajusta el ancho de las imágenes */
    height: 450px; /
  }
  .galeria2 img{
    width: 380px; /* Ajusta el ancho de las imágenes */
    height: 450px; /
    
  }
#Presentacion{
        color: rgb(5, 4, 4); /* Color del texto */
        font-size: 18px; /* Tamaño del texto */
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: #d9d9d9;
    padding: 8px; 
}

.pie{
    display: flex;  /* Alinear elementos en una misma línea o en varias filas */
    justify-content:center; /* Alinear los elementos a la derecha  */
}

.pie img{
    width: 50px; 
    height: 50px; 
    margin-left: 10px; 
}

.copy{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrusel{
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes bajen de línea si no caben */
    gap: 5px; /* Espacio entre imágenes */
    justify-content: center; /* Centra la galería */
    
}
.carrusel{
    padding: 5px;
    background: var(--section-background-carrusel); 
    /* background: linear-gradient(#ffc6ff,#3924b4); */
}
.carrusel img{
    width: 280px; /* Ajusta el ancho de las imágenes */
    height: 400px; 
    border: 5px solid rgb(70, 23, 70);
    border-radius: 5px;
    
}

.mov,.datos{
    background: #e7c6ff;
    padding: 10px;
    border: 0;
}


div img{
    width: 400px; /* Ajusta el ancho de las imágenes */
    height: 300px; 
    border-radius: 15px;
}

#motivacion{
    padding-left: 4px;
}

#motivacion, #maquillaje, #asmr,#comu,#viaje{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
   /* display:flex;
   align-items: center; /* Alinea verticalmente 
   gap: 20px; */
   
}
.receta{
    padding: 5px;
    border: 0;
}
.gustos{
    padding: 8px;
}

.receta img{
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(65%, 165%); /* Ajusta la posición exacta */

    /* margin: 5px; */
    width: 350px; /* Ajusta el ancho de las imágenes */
    height: 400px;
    border-radius: 15px;
    border-style:double;
}

.ingredientes{
    /* background-color: aqua; */
    padding: 45px;;
}

.alitas{
    display: block; /* Convierte la imagen en un bloque */
    margin: auto; /* La centra horizontalmente */
    justify-content: center;
    width: 300px; /* Ajusta el tamaño si es necesario */
}

.datos p{
 display: flex;
}

#maquillaje,#asmr ,#comu ,#viaje   {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea la imagen y el texto al centro verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
    
    text-align: center;
    color: #3f0469;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#maquillaje img,#asmr img,#comu img,#viaje img {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 300px;
    border-style:dotted;
border-radius:20px 40px;
    /* height: auto; Mantiene la proporción */
}

#maquillaje p, #asmr p,#comu p,#viaje p{
    flex: 1; /* Permite que el texto ocupe el espacio restante */
}

.musica {
    padding: 15px;
    display: flex;
    flex-direction: column; /* Asegura que el título y el audio estén en columna */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    background-color: #e7c6ff;
  }
  
 .musica audio {
    margin-top: 10px; /* Espacio entre el título y el audio */
  }
  


.misvideos{
    padding: 25px;
    border: 0;
}

.misvideos h3{
    padding: 0;
    margin: 10px;
}
.misvideos img{
    width: 350px; /* Ajusta el ancho de las imágenes */
    height: 700px;
    border: 5px solid rgb(104, 100, 104);
}
.misvideos video{
    width: 400px; /* Ajusta el ancho de las imágenes */
    height: 700px;
    border: 5px solid rgb(104, 100, 104);
}

.mi-video-fav{
    padding: 20px;
    background-color: #e7c6ff ;
    justify-content: center;
    border: 10px black;
}

.aprendizaje{
    margin: 0;
    padding: 0;  
}
.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.estudio img{
    width: 1325px; /* Ajusta el ancho de las imágenes */
    height: 700px;
}


.formacion,.espe{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.formacion img,.espe img{
    width: 300px; /* Ajusta el ancho de las imágenes */
    height: 300px;
    border-style:solid;
    border-radius:50%;

}

#bloque{
    background-color: #e7c6ff;
    font-size: 20px;
}

.programas{
    background-color: #e7c6ff;
    padding: 20px;
}


#office,#python ,#django,#sql,#java,#kanecode  {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea la imagen y el texto al centro verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #3f0469;
    /* background-color: white; */
    background-color:var(--section-background-programas);
    border-radius: 20px;
    padding: 10px;
}

#office img,#python img ,#django img,#sql img,#java img,#kanecode img {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 300px;
    border-style:dotted;
border-radius:20px 60px;
    /* height: auto; Mantiene la proporción */
}

#office p,#python p,#django p,#sql p,#java p,#kanecode p {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
}


.tabla{
    /* padding: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: -50px;
    padding-top: 0;
    
}


#bachillerato,#inge,.espe{
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea la imagen y el texto al centro verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

#bachillerato img,#inge img,.espe img{
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 200px;
 
    /* height: auto; Mantiene la proporción */
}

#bachillerato p,#inge p,.espe p{
    flex: 1; /* Permite que el texto ocupe el espacio restante */
}


.certi{
   background-color: #e7c6ff;

}
.certi img{
    width: 50px;
    height: 50px;
    border-style:double;
}

#bloque{
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea la imagen y el texto al centro verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}

.creati img{
    width: 1200px;
    height: 350px;
}

#fras{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(70, 23, 70);
    font-weight: bold;
    padding: 20px;
    background: var(--section-background);
}

.maqui {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes */
    justify-content: center;
  }

  .maqui img{
    width: 410px; /* Ajusta el ancho de las imágenes */
    height: 450px; /
  }

  .maqui video{
    width: 420px;
    height: 450px;
  }

  .maqui1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes */
    justify-content: center;
  }

  .maqui1 img{
    width: 410px; /* Ajusta el ancho de las imágenes */
    height: 450px; /
  }

  .maqui1 video{
    width: 420px;
    height: 450px;
  }

  .mis-vibes {
    display: grid;
    grid-auto-flow: column; /* hace que las cajas se acomoden horizontalmente */
    grid-auto-columns: minmax(200px, 1fr); /* ancho mínimo de cada tarjeta */
    overflow-x: auto; /* activa scroll horizontal */
    gap: 20px;
    padding: 20px;
  }
  
  .vibe-box {
    background: #b79ced;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    scroll-snap-align: center; /* se alinea al centro al hacer scroll */
  }
  
  .vibe-box:hover {
    transform: scale(1.05);
  }
  
  
  .emoji {
    font-size: 40px;
  }
  
  #fras1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}


.kdramas{
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre las imágenes */
    justify-content: center;
}

.kdramas img{
    width: 250px;
    height: 400px ;
    transition: transform 0.4s ease;
  border-radius: 15px;
}
.kdramas img:hover {
    filter: brightness(1.2) saturate(1.3);
  }


  .mifamilia{
    padding: 5px;
    background:var(--section-background);
  }
#col{
display: flex;
flex-wrap: wrap;
gap: 10px;
flex-direction: row;
justify-content: center;
}

#col img{
   width: 300px;
    height: 400px;
    padding: 10px; 
    transition: transform 0.4s ease;
   
}

#col img:hover {
    transform: translateY(-10px);
  }

#fami{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    h1 {
      background-color: blue;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      background-color: red;
    }

    header{
        background-color: #d9d9d9; 
        width: 1320px;
    }

    header h1{
        font-size: 45px;
    }
    .fondo{
        width: 1325px; /* Ancho fijo */
        height: 500px; /* Alto fijo */
        justify-content: center;
    }

    .frase{
        position: absolute;
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta la posición exacta */
        color: rgb(73, 10, 92); 
        font-size: 40px; /* Tamaño del texto */
        font-weight: bold;
        /* text-align: center; */
        padding: 10px;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      .galeria img{
        width: 210px; /* Ajusta el ancho de las imágenes */
        height: 300px; /
      }
      .galeria2 img{
        width: 210px; /* Ajusta el ancho de las imágenes */
        height: 300px; /
      }
      
.receta img{
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(45%, 375%); /* Ajusta la posición exacta */

    /* margin: 5px; */
    width: 250px; /* Ajusta el ancho de las imágenes */
    height: 270px;
    border-radius: 15px;
    border-style:double;
}
.misvideos{
    padding: 25px;
    border: 0;
    justify-content: center;
}

.misvideos h3{
    padding: 0;
    margin: 10px;
}
.misvideos img{
    width: 600px; /* Ajusta el ancho de las imágenes */
    height: 800px;
    border: 5px solid rgb(104, 100, 104);
    margin: 25px;
    
}
.misvideos video{
    width: 600px; /* Ajusta el ancho de las imágenes */
    height: 800px;
    border: 5px solid rgb(104, 100, 104);
    margin: 25px;
}
  }
  

  @media screen and (min-width: 992px) {
    h1 {
      background-color: green;
    }

   

  }